# c:\projects\DNA-utils-universal\ystr_predictor\prometheus.yml
global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'ystr-predictor'
    static_configs:
      - targets: ['app:8000']
    metrics_path: '/metrics'